<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	
	<!-- 定时器开关--> 
	<task:annotation-driven />  
	<!--  
	<bean id="tokenTask" class="com.work.excutor.TokenTask"></bean> 
	-->
	<!--   
	<task:scheduled-tasks>  
        
这里表示的是从第五秒开始 ，每三秒执行一次 （而不是 三分之五 秒执行一次哦~~）   
 
        <task:scheduled ref="tokenTask" method="getWxToken" cron="0 0 0/1 * * ?" />  
    </task:scheduled-tasks>  
    --> 
</beans>
